@font-face {
	font-family: 		Main;
	src: 				url(Images/HeadlinerNo.45.ttf);
}

body.Gallery {
	background-color: 	#df915e;
	font-family:		Verdana;
	color:				#090907;
}

ul.menu {
	list-style-type:	none;
	margin: 			0;
	padding:			0;
	overflow: 			hidden;
	background-color:	#d0b7ac;
}

a.ref {
	color:				Green;
}

a:visited.ref {
	color:				Green;
}

a:hover.ref {
	color:				blue;
}

a:active.ref {
	color:				#DE8D00;
}
a.directory {
	font-family:		Verdana;
	color:				#090907;
	font-size:			20px;
	text-decoration: 	none;
}

a:visited.directory {
	font-family:		Verdana;
	color:				#090907;
	font-size:			20px;
	text-decoration: 	none;
}

a:hover.directory {
	font-family:		Verdana;
	color:				#DE8D00;
	font-size:			20px;
	text-decoration: 	none;
}

a:acive.directory {
	font-family:		Verdana;
	color:				#EBB014;
	font-size:			20px;
	text-decoration: 	none;
}

a.b2t {
	font-family:		Verdana;
	color:				Green;
	font-size:			20px;
	text-decoration: 	none;
}

a:visited.b2t {
	font-family:		Verdana;
	color:				Green;
	font-size:			20px;
	text-decoration: 	none;
}

a:hover.b2t {
	font-family:		Verdana;
	color:				#DE8D00;
	font-size:			20px;
	text-decoration: 	none;
}

a:acive.b2t {
	font-family:		Verdana;
	color:				#EBB014;
	font-size:			20px;
	text-decoration: 	none;
}

li.link {
	float: 				center;
	font-family:		'Main';
	font-size:			30px;
	letter-spacing: 	15px;
}

li.link a {
	display: 			block;
	color: 				#542626;
	text-align:			center;
	padding: 			14px 16px;
	text-decoration: 	none;
}

li.link a:hover {
	background-color: 	#008000;
}

li.link a:active {
	background-color: 	#008000;
}

li.gallery {
	float: 				center;
	font-family:		'Main';
	font-size:			30px;
	letter-spacing: 	15px;
	border-bottom:		10px solid #090907;
}

li.gallery a {
	display: 			block;
	color: 				#542626;
	text-align:			center;
	padding: 			14px 16px;
	text-decoration: 	none;
}

li.gallery a:hover {
	background-color: 	#008000;
}

li.gallery a:active {
	background-color: 	#008000;
}

div.Gallerycontainer {
	width: 				1000px;
	background-color: 	#e6af44;
	border: 			10px solid #090907;
	margin-left: 		auto;
	margin-right: 		auto;
	height: 			12000;
}

div.content {
	width: 				960px;
	padding: 			20px;
}

p {	
	line-height:	 	1.5em;
	font-size: 			14pt;
}

p.singledescription {	
	line-height:	 	1.5em;
	font-size: 			14pt;
	text-align:			center;
}

img.Main {
	float: 				center;
	margin-right: 		20px;
	margin-bottom: 		5px;
}

img {
	margin-bottom: 		5px;
}

img.table {
		width:			100px;
		height:			100px;
}

img.long {
	margin-bottom: 		5px;
	margin-left:		auto;
	margin-right:		auto;
	display:			block;
}

img.sign {
	margin-bottom: 		5px;
	width:				500px; 
	height:				auto;
	margin-left:		auto;
	margin-right:		auto;
	display:			block;
}

.poster {
	margin-left: 		160px;
}

.pic {
	margin-left: 		145px;
}

h1.logoGallery {
	font-family:		'Main';
	text-align:			center;
	font-size:			100px;
	letter-spacing: 	6px;
	color:				#542626;
	border:				15px solid #542626;
	margin-left: 		110px;
	margin-right: 		140px;
	padding:			2px 2px;
	padding-top:		2px 2px;
	padding-bottom:		2px 2px;
}

h2 {
	font-family:		'Main';
	color:				#090907;
	text-align:			left;
	font-size:			65px;
	letter-spacing: 	15px;
}

iframe {
	float:				center;
	width: 				560px; 
	height: 			315px;
	margin-left:		200px
}

div.pic {
	margin: 			5px;
	border: 			5px solid #9698a6;
	float: 				left;
	width: 				180px;
}

div.pic:hover {
	border: 			5px solid #d0b7ac;
}

div.pic img {
	width: 				100%;
	height: 			auto;
}

div.desc {
	padding: 			15px;
	text-align: 		center;
	background-color:	#9698a6;
}

div.picleft {
	margin: 			5px;
	margin-left:		90px;
	border: 			5px solid #9698a6;
	float: 				left;
	width: 				180px;
}

div.picleft:hover {
	border: 			5px solid #d0b7ac;
}

div.picleft img {
	width: 				100%;
	height: 			auto;
}

div.desc {
	padding: 			15px;
	text-align: 		center;
	background-color:	#9698a6;
}